
#paragraphContainer {
	background-color:#c5d7e4;
}

#paragraphContainer h2 {
	color:#2c353d;
	width:95%;
	margin-left:2%;
}

#paragraphContainer hr { 
	width:80%;
	margin-left:9%;
	border-color: #c0c0c0; 
} 

#paragraphs {
	margin: auto auto;
	position:absolute;
	width:80%;
	margin-left:9%;
	margin-top:95px;
	color:#2c353d;
}

#paragraph1 {
	font-family:sans-serif;
	margin: auto auto;
	color::#FFFFFF;
	text-align: justify;
    text-justify: inter-word;
	font-size:120%;
	line-height: 150%;
}

#paragraphTitle2 {
	color:#2c353d;
	font-weight: bold;
    text-align:justify;
	font-size:140%;
	font-family: sans-serif;
	background-color:#c5d7e4;
}

#paragraph2 {
	font-family:sans-serif;
	margin: auto auto;
	color::#FFFFFF;
	text-align: justify;
    text-justify: inter-word;
	font-size:120%;
	line-height: 150%;
}

#paragraphTitle3 {
	color:#2c353d;
	font-weight: bold;
    text-align:justify;
	font-size:140%;
	font-family: sans-serif;
	background-color:#c5d7e4;
}

#paragraph3{
	font-family:sans-serif;
	margin: auto auto;
	color:#2c353d;
	text-align: justify;
    text-justify: inter-word;
	font-size:120%;
	line-height: 150%;
}

#paragraphTitle4 {
	color:#2c353d;
	font-weight: bold;
    text-align:justify;
	font-size:140%;
	font-family: sans-serif;
	background-color:#c5d7e4;
}

#paragraph4{
	font-family:sans-serif;
	margin: auto auto;
	color:#2c353d;
	text-align: justify;
    text-justify: inter-word;
	font-size:120%;
	line-height: 150%;
}

#equipo2 {
	display: block;
	margin-left:5%;
	border-radius: 10%;
}

