html {
	overflow-x:hidden;
	width:100%;
}
body {
	width:104%;
	margin:-1%;
	margin-right:-3%;
	overflow-x:hidden;
	background: url(../images/fondo10.png) top center;
    background-size: cover;
	overflow-y:hidden;
}
.main-wrapper{
	top:30px;
	width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #f8fafc;
    margin-bottom: 30px;
}
.header .company-info{
	vertical-align: middle;
    padding: 10px 0;
    display: flex;
    padding-left: 50px;
}
.header .company-info .logo{
	display: inline-block;
}
.header .company-info .title{
	display: inline-block;
    margin: 0 auto;
    padding-top: 40px;
}
.header .horizontal-menu{
    background-color: #2c353d;
    width: 100%;
    display: inline-block;
    height: 48px;
}
.header .horizontal-menu ul{
	list-style-type:none;
    padding-top: 15px;
    margin: auto;
    width: 690px;
}
.header .horizontal-menu ul li{
	float: left;
}
.header  .horizontal-menu ul li + li:before{
	content: " | ";
	margin-right:-4px;
	color:#df3430;
}
.header  .horizontal-menu ul li a{
	padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    font-family: Helvetica;
    padding: 12px 24px 13px 26px;
}
.header  .horizontal-menu ul li a:hover{
	background: gray;
}
.header .vertical-menu{
	display: block;
    background-color: #2c353d;
    height: 45px;
    border-top: 1px solid;
}

#logo {
	width:280px;
	height:100%;
	cursor:pointer;
}

h1 {
	font-family: Helvetica;
	color:#2c353d;
}

h5 {
	font-style: italic;
	text-align: center;
	font-family: Helvetica;
}

h3 {
	margin: auto;
	background-color:#50617f;
	font-family: Helvetica;
	color:#2c353d;
	text-align:center;
	padding:2px;
	width:101%;
	margin-right:-1%
	font-size:200%;
}

#menuIcon {
	margin: auto;
	margin-top:13px;
	width:50px;
	height:30px;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 3px;
    background-color: #2c353d;
    margin: 6px 0;
    transition: 0.4s;
	background-color:#df3430;
}

 #menu {
	width:100%;
 }
 
 #menuTable {
	width:100%;
	height:100%;
 }
 
 #menuTable a {
    padding: 5%;
	text-decoration:none; 
	color:#2c353d;
	font-family: Helvetica;
}

.headerTableRow {
	height:15%;
}

.headerTableRow th{
	border-bottom:4pt solid #eeeeee;
	color:#2c353d;
	font-weight: bold;
	font-size:160%;
	font-family: Helvetica;
}



tr.border_bottom td {
  border-bottom:2pt solid #eeeeee;
  font-size: 110%;
  padding:5%;
}

.boxclose{
	margin-top:15px;
	margin-left:9%;
    display:block;
	box-sizing:border-box;
	width:25px;
	height:25px;
	border-width:3px;
	border-style: solid;
	border-color:#df3430;
	border-radius:100%;
	content:"X";
	color:#FFFFFF;
	background-color:#df3430;
	box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
	cursor:pointer;
}

.boxclose:after {
	margin-left:20%;
	content:"X";
	color:#FFFFFF;
}

 
 #content {
	overflow-x:hidden;
 }
 
 #logoFooter {
	margin-top:5px;
	height:60px; 
	max-width:95%;
	border: 2px solid;
    border-radius: 5px 25px 5px;
	margin-bottom:10px;
 }

footer{
	padding-top:10px;
	max-width:100%;
	overflow-x:hidden;
	background: #2c353d;
    color: #ababab;
    font-size: 12px;
	font-weight:bold;
    font-family: Helvetica;
    background-image:url(../images/footer2.png);
}
footer .column-3{
	width: 30% !important;
    margin: 1%;
}

#facebookLogo {
	height:25px;
	cursor:pointer;
}

.column-content{
	margin:1%;
	overflow-x:hidden;
}
.column-3{
	width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 15px;  
	
}
.column-3 ul{
	font-family: Helvetica !important;
    margin: 0 !important; 
    color: #1a1a1a !important;
    text-align: justify !important;
    text-justify: inter-word !important;
    font-size: 140% !important;
    margin-left: 0 !important; 
    line-height: 150% !important;
    margin-bottom: 40px !important;
}
.column-2-1{
	width: 70%;
	display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 15px;    
}
.column-2-2{
	width: 29%;
	display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 15px;
}
.jssorl-004-double-tail-spin img {
    animation-name: jssorl-004-double-tail-spin;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssorb052 .i {position:absolute;cursor:pointer;}
.jssorb052 .i .b {fill:#000;fill-opacity:0.3;stroke:#fff;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.7;}
.jssorb052 .i:hover .b {fill-opacity:.7;}
.jssorb052 .iav .b {fill-opacity: 0;}
.jssorb052 .i.idn {opacity:.3;}

.jssora053 {display:block;position:absolute;cursor:pointer;}
.jssora053 .a {fill:none;stroke:#ababab;stroke-width:640;stroke-miterlimit:10;}
.jssora053:hover {opacity:.8;}
.jssora053.jssora053dn {opacity:.5;}
.jssora053.jssora053ds {opacity:.3;pointer-events:none;}